<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h2 class="jumbotron-heading">集まれ、草野球選手</h1>
      <p class="lead text-muted">活躍を自慢しよう！！</p>
      <p>
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary my-2" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-image-left" src="card-left.jpg" style="height: 225px; width:100%; display: block;">
            <div class="card-body">
              <h3 class="card-heading">活躍の自慢</h3>
              <p class="card-text">
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-image-left" src="card-left.jpg" style="height: 225px; width:100%; display: block;">
            <div class="card-body">
              <h3 class="card-heading">プレーヤーと交流</h3>
              <p class="card-text">
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-image-left" src="card-left.jpg" style="height: 225px; width:100%; display: block;">
            <div class="card-body">
              <h3 class="card-heading">成績の管理</h3>
              <p class="card-text">
                テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>