<div class="fixed-bottom">
  <nav class="row nav nav-pills nav-justified d-block d-md-none bg-light">
    <a class="nav-item nav-link active" href="#">Active</a>
    <a class="nav-item nav-link" href="#">Link</a>
    <a class="nav-item nav-link" href="#">Link</a>
    <a class="nav-item nav-link disabled" href="#">Disabled</a>
  </nav>
</div>